body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat';
}

/*FOR THE IMAGE! */
.nameTop{
    border-radius: 100%;
    border: 6px solid #ffffff;
    color: #fafafa;    
    width: 200px;
    height: 130px;
    overflow: hidden;    
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -5%);
    z-index: 0;
}

img.profileImage{
    height: 100%;
    width: 100%;
    -webkit-filter: brightness(150%);   
    -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

.imgoverlay {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    z-index: 1;
    background-color: rgba(46,204,113,0.4);
    background: linear-gradient(65deg, rgba(68,85,90,0.6), rgba(174,198,207,0.4));
    color: #fafafa;
    font-size: 37px;
}

.imgoverlay:hover {
  opacity: 1;
}

/*Separator Graphics*/

hr.star-light{
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid 0.25rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    position: relative;
}


/* Section*/

section {
  padding: 10px 0;
}

section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

/*Buttons*/

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(173,230,216, 0.5);
  line-height: 3.1rem;
}

@media (min-width: 992px) {
  
}

/*Header Section*/

.topfoot{
    height: 60px;
}

header.masthead {
  padding-top: calc(6rem + 75px);
  padding-bottom: 6rem;
}

header.masthead h1 {
  font-size: 3rem;
  line-height: 3rem;
}

header.masthead h2 {
  font-size: 1.8rem;
  font-family: 'Montserrat';
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
  }
  header.masthead h1 {
    font-size: 4.75em;
    line-height: 4rem;
  }
  header.masthead h2 {
    font-size: 1.75em;
  }
}

/*navbar*/
.navbarTop{
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    /*margin-top:10px;
    margin-bottom:10px;
    margin-left: 15%;
    margin-right: 15%;*/
}

.navbar{
    margin:0;
    padding:0;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.navbar li{
    list-style: none;
    display:inline;
}

.navbar li a{
    padding:25px;
    color: #ffffff;
    font-size: 25px;
    font-weight: 1000;
    text-decoration: none;
    margin: 0;
}


/*Resume Section*/

.portfolio {
  margin-bottom: -15px;
}

.resume{
    margin-top: 20px;
    margin-bottom: 20px;
}

.resume{
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px 40px;
    background-color: #f6f6f6;
}

@media (min-width: 768px) {
  
}

/*Footer Section*/

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2C3E50;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}

.bg-primary {
  background-color: #add8e6 !important;
}
.bg-secondary {
  background-color: #adbce6 !important;
}

.text-primary {
  color: #18BC9C !important;
}

.text-secondary {
  color: #2C3E50 !important;
}
