body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat';
}

/*Separator Graphics*/

hr.star-light{
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid 0.25rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    position: relative;
}


/* Section*/

section {
  padding: 10px 0;
}

section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

/*Buttons*/

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(173,230,216, 0.5);
  line-height: 3.1rem;
}

@media (min-width: 992px) {

}

/*Header Section*/

.topfoot{
    height: 60px;
}

header.masthead {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

header.masthead h1 {
  font-size: 3rem;
  line-height: 3rem;
}

header.masthead h2 {
  font-size: 1.8rem;
  font-family: 'Montserrat';
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
  }
  header.masthead h1 {
    font-size: 4.75em;
    line-height: 4rem;
  }
  header.masthead h2 {
    font-size: 1.75em;
  }
}


/*About Me Seciont*/

.aboutme{
    background-color: #ade6d8;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    color: #fff;
}

.aboutmesection{
    padding-bottom: 15px;
    padding-top: 15px;
}

/*Resume Section*/

/* .portfolio {
    margin-bottom: -15px;
} */

span.timePeriod{
    font-style: italic;
    font-weight: 400;
}

.toPart{
    text-align: center;
}

.resume-container{
  background-color: #CCCCFF;
}

.resume{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.resume{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px 40px;
    background-color: #f6f6f6;
    font-size: 12px;
}

.resumeh4{font-size: 21px;}
.resumeh6{font-size: 15px;}

.sectionheader{
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  border: none;
}

@media (min-width: 768px) {

}

/* collapsibles */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  cursor: pointer;
  text: white;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  color: rgb(0, 0, 0);
}

button.active{
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  display: none;
  overflow: hidden;
}

/*Footer Section*/

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #2C3E50;
  color: #fff;
}

.copyright {
  background-color: #1a252f;
}

.bg-primary {
  background-color: #add8e6 !important;
}
.bg-secondary {
  background-color: #adbce6 !important;
}

.text-primary {
  color: #18BC9C !important;
}

.text-secondary {
  color: #2C3E50 !important;
}
