body {
  font-family: 'Lato';
  font-size: 24px;
  color: white;
  background-color: #c9f5f5;
}

h1,h2,h3,
h4,h5,h6 {
  font-weight: 700;
  font-family: 'Montserrat';
}
h1 {
  font-size: 36px;
}
h6 {
  font-size: 18px;
}
p {
  font-size: 18px;
}

.color-green-opacity {
  background-color: rgb(129, 217, 202);
}
.color-green {
  background-color: rgba(24, 188, 156);
}
.color-pink {
  background-color: rgba(244, 194, 219);
}
.color-yellow {
  background-color: rgba(224, 200, 153);
}

/* The navigation bar */
.navbar {
  z-index: 10;
  overflow: hidden;

  margin-left: 1rem;
  /* margin-top: 1rem; */

  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;

  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */

  opacity: 0.7;

  background-color: #c9f5f5;

  border-bottom-right-radius: 5rem;
  border-bottom-left-radius: 5rem;
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}

.openbtn {
  position: fixed; /* Stay in place */
  z-index: 5; /* Stay on top */
  cursor: pointer;
  background-color: #c9f5f5;
  border-radius: 1rem;
  padding: 1rem 1rem;
  margin: 1rem;
  border: none;
}

.mobile-navbar {
  width: 0; /* 0 width - change this with JavaScript */

  position: fixed; /* Stay in place */
  z-index: 10; /* Stay on top */
  top: 0;
  left: 0;

  opacity: 0.7;
  color: black;
  background-color: #c9f5f5;
  overflow: hidden;

  padding-top: 0.5rem;
  transition: 0.5s;
}
.mobile-navbar > * {
  height: 80px;
  width: 80px;

  transition: color 0.5s ease-in-out;
  cursor: pointer;
  padding: 2rem;
}

/* Links inside the navbar */
.navbar > img {
  height: 80px;
  width: 80px;

  transition: color 0.5s ease-in-out;
  cursor: pointer;
  padding: 2rem;

  img {
    color: white;
    z-index: 11;
  }
}

/* Change background on mouse-over */
.navbar > img:hover {
  color: black;
}

.parallax {
  /* Positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-transition: background-image 1s ease-in-out;
  -moz-transition: background-image 1s ease-in-out;
  -o-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
}
.parallax > .label {
  opacity: 1;
  padding-left: 5rem;
  padding-right: 5rem;
  border-radius: 5rem;
}

.bg {
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

.videos {
  /* Positioning */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.videos > div {
  margin: 3rem;
  opacity: 0.7;
}

.content {
  display: flex;
  padding: 2rem 0;
  /* opacity: 0.5; */
}
.content > * {
  margin: 0 2rem;
  vertical-align: middle;
}
.content:first-child {
  text-align: center;
}

.resume {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.resume:hover {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 600px) {
  .for-mobile {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 24px;
  }
  h6 {
    font-size: 14px;
  }
  p {
    font-size: 14px;
  }

  .parallax > .label {
    width: 90%;
    padding: 0;
    text-align: center;
  }

  .non-mobile {
    display: none;
  }

  .for-mobile {
    display: block;
  }
}
